/** All */
/*
body {
  width: 80%;
  margin: auto;
}*/

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

hr {
  width: 80%;
}

p {
  font-family: "Open Sans", sans-serif;
}

/** Nav */
#nav img {
  width: 100%;
}

#nav ul {
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
}

#nav li {
  display: inline-block;
  padding: 0;
}

#nav li a {
  display: block;
  font-family: "Khula", sans-serif;
  font-size: 10pt;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  opacity: 0.6;
}

#nav a:hover {
  opacity: 1;
}

#nav ul {
  display: inline;
  margin: auto;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #F7F7F7;
  opacity: 0.5;
  z-index: 1;
}

#nav li {
  display: inline-block;
  padding: 0;
}

#nav li a {
  font-family: "Khula", sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  opacity: 1;
}

#nav a:hover {
  color: #00a3cc;
}

/** Intro */
#intro {
  background-image: url("images/header.jpg");
}

/** About */
#about {
  width: 80%;
  margin: auto;
}

#about_grid {
  display: grid;
  grid-template-columns: 70% 5% 25%;
}

#about_info {
  grid-column: 1;
}

#about img {
  width: 100%;
  grid-column: 3;
}

/** Resume */
#resume a {
    font-size: 30pt;
    color: #000;
    text-align: center;
    padding: 0;
}

/** Portfolio */
.row{
  width: 90%;
  margin: 0 5%;
}

.row img{
  width: 27%;
  margin: 20px 3%;
}


/** Contact */
#contact p {
  text-align: center;
}

#contact ul {
  list-style-type: none;
  overflow: hidden;
  width: 400px;
  margin: auto;
  height: 100px;
  padding-left: 11%;
}

#contact li {
  float: left;
  margin-right: 20px;
  margin-top: 5%;
}

#contact li a {
    font-size: 30pt;
    color: #000;
    text-align: center;
    padding: 0;
}

#contact a:hover {
  color: #00a3cc;
}

/** Footer */
#footer p{
  text-align: center;
  color: #808080;
}
