/** All */

/** font downloaded from google fonts */
@font-face {
  font-family: "Nanum Gothic";
  src:url("../fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}

:root {
  --opaqueblue: rgba(41, 182, 246, 0.3);
  --lightblue: #29b6f6;
  --lightgray: #8c8c8c;
  --myfont: "Nanum Gothic", sans-serif;
}

#about, #resume, #work {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 35px;
}

p, li, h1, h3, h4{
  font-family: var(--myfont);
}

.centered {
  text-align: center;
}

.blue {
  color: var(--lightblue);
}

/** Header */

header .divider {
  width: 50%;
  margin: auto;
}

.header_img {
  text-align: center;
}

.header_img img {
  width: 9%;
}

.header_img h1 {
  font-size: 32px;
  font-family: var(--myfont);
  padding-left: 10px;
  margin: 7px 0;
}

.header_img p {
  color: var(--lightgray);
}

/** Nav */

#nav ul {
  text-align: right;
  padding-right: 5px;
}

#nav li {
  display: inline-block;
  padding: 20px 10px 0 10px;
}

#nav li a {
  font-size: 15px;
  color: black;
}

#nav a:hover {
  color: var(--lightblue);
  text-decoration: none;
}

.current {
  border-bottom: 2px solid var(--opaqueblue);
}

.nav_contact {
  display: none;
}

/** About */

#about {
  width: 50%;
  line-height: 200%;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--lightblue);
}

/** Resume */
#resume object {
  width: 100%;
  height: 1125px;
}

#resume_mobile {
  display: none;
  margin-bottom: 30px;

}

#resume_mobile img {
  width: 10%;
}

/** Work */

.table-of-contents {
  width: 150px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  margin-left: 25px;
}

.table-of-contents a {
  border-color: var(--lightblue) !important;
}

.table-of-contents a:hover {
  text-decoration: none;
}

#work .divider {
  width: 71.43%;
  margin: auto;
}

#work h2 {
  font-family: var(--myfont);
  font-size: 27px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--opaqueblue);
}

.bold {
  font-weight: 900;
}

.card {
  width: 55%;
  margin: 0 auto 30px auto !important; 
  box-shadow: 0 4px 20px 6px rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: box-shadow 0.3s ease-in, transform 0.3s ease-in;
}

.card:hover {
  position: relative;
  box-shadow: 0 10px 5px 3px rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.card img {
  width: 30%;
}

.card a {
  color: black;
}

.card a:hover {
  color: var(--lightblue);
  text-decoration: none;
}

.card p {
  display: inline-block;
  padding-left: 10px;
}

.title {
  font-size: 20px;
}

.lang {
  color: var(--lightgray);
}

.modal-content {
  line-height: 200%;
}

.modal-content img {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.modal-content video {
  width: 90%;
  height: 360px;
  margin: 0 5%;
}

.btn-floating {
  background-color: var(--lightblue) !important;
}

#currents_cs {
  margin-bottom: 0;
}

#currents_modal ul {
  padding-left: 30px;
}

#currents_modal li {
  list-style: disc;
}

/** Footer */

footer {
  background-color: #f2f2f2;
  color: #808080;
  margin: 0;
  padding: 30px 0;
}

/** Responsive */

/* Phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container, #about, #contact_mobile {
    width: 90%;
  }

  #nav ul {
    text-align: center;
    padding-right: 0;
  }

  .nav_contact {
    display: show;
  }

  .header_img img {
    width: 30%;
  }

  header .divider {
    width: 90%;
    margin: auto;
  }

  #resume object {
    display: none;
  }

  #resume_mobile {
    display: block;
  }

  .table-of-contents {
    display: none;
  }

  .card {
    width: 90%;
  }

  .contact_web {
    display: none;
  }

  #contact_mobile {
    margin: 30px 5%;
  }
}

/* iPad (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #about, .container {
    width: 80%;
  }

  #resume object {
    height: 800px;
  }
}

/* iPad (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #resume object {
    height: 900px;
  }
}