/* --------------------------
/* Document
/* -------------------------- */

/** font downloaded from google fonts */
@font-face {
  font-family: "Nanum Gothic";
  src:url("../fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}

:root {
  --opaqueblue: #29b6f64d;
  --lightblue: #29b6f6;
  --lightgray: #8c8c8c;
  --myfont: "Nanum Gothic", sans-serif;
}

#about, #resume, #work {
  padding: 0;
  margin-bottom: 35px;
}

#about, #resume {
  margin-top: 20px;
}

p, li, h1, h3, h4{
  font-family: var(--myfont);
}

.centered {
  text-align: center;
}

.blue {
  color: var(--lightblue);
}

.contact_mobile {
  display: none;
}

/* --------------------------
/* Header
/* -------------------------- */

header .divider {
  width: 50%;
  margin: auto;
}

.header_img {
  text-align: center;
}

.header_img img {
  width: 9%;
}

.header_img h1 {
  font-size: 24pt;
  font-family: var(--myfont);
  padding-left: 10px;
  margin: 7px 0;
}

.header_img p {
  color: var(--lightgray);
}

/** Nav */

#nav ul {
  text-align: right;
  padding-right: 5px;
}

#nav li {
  display: inline-block;
  padding: 20px 10px 0 10px;
}

#nav li a {
  font-size: 11pt;
  color: black;
}

#nav a:hover {
  color: var(--lightblue);
  text-decoration: none;
}

.current {
  border-bottom: 2px solid var(--opaqueblue);
}

.nav_contact {
  display: none;
}

/* --------------------------
/* About
/* -------------------------- */

#about {
  width: 50%;
  line-height: 200%;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--lightblue);
}

/* --------------------------
/* Resume
/* -------------------------- */

#resume object {
  width: 100%;
  height: 1200px;
}

#resume_mobile {
  display: none;
  margin-bottom: 30px;
}

#resume_mobile img {
  width: 10%;
}

/* --------------------------
/* Work
/* -------------------------- */

.table-of-contents {
  width: 150px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  margin-left: 25px;
}

.table-of-contents a {
  border-color: var(--lightblue) !important;
}

.table-of-contents a:hover {
  text-decoration: none;
}

#work .divider {
  width: 71.43%;
  margin: auto;
}

#work h2 {
  font-family: var(--myfont);
  font-size: 20pt;
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--opaqueblue);
}

.bold {
  font-weight: 900;
}

.container {
  width: 65% !important;
  margin: 0 auto;
}

.ex_card {
  display: inline-block;
  width: 32%;
  padding: 0 15px 30px 15px !important; 
  margin: 0;
}

.large {
  height: auto !important;
  padding: 10px;
}

.ex_card:hover {
  position: relative;
}

.ex_card img {
  width: 100%;
}

.ex_card img:hover {
  -webkit-filter: opacity(60%);
  -moz-filter: opacity(60%);
  -o-filter: opacity(60%);
  -ms-filter: opacity(60%);
  filter: opacity(60%);
}

.large a img {
  width: 30%;
}

.ex_card a {
  color: black;
}

.ex_card a:hover {
  color: var(--lightblue);
  text-decoration: none;
}

.ex_card p {
  display: inline-block;
  padding-top: 5px;
}

.title {
  font-size: 12pt;
}

.lang {
  color: var(--lightgray);
  font-size: 10pt;
}

.modal {
  max-height: 85% !important;
  width: 90% !important;
  margin-top: 0 !important;
}

.modal-content {
  line-height: 200%;
}

.modal-content img {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.modal-content video {
  width: 90%;
  height: 360px;
  margin: 0 5%;
}

.btn-floating {
  background-color: var(--lightblue) !important;
}

#currents_cs {
  margin-bottom: 0;
}

#currents_modal ul {
  padding-left: 30px;
}

#currents_modal li {
  list-style: disc;
}

/** Footer */

footer {
  background-color: #f2f2f2;
  color: #808080;
  margin: 0;
  padding: 30px 0;
}

/* --------------------------
/* Responsive
/* -------------------------- */

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  #resume {
    width: 80% !important;
  }
}

/* Tablet */
@media only screen and (max-width: 900px) {
  .header_img img{
    width: 20%;
  }

  #resume {
    width: 90% !important;
  }

  #resume object {
    height: 700px;
  }

  .ex_card {
    width: 49%;
  }
}

/* Phone */
@media only screen and (max-width : 600px) {
  .container, #about {
    width: 90% !important;
  }

  #nav ul {
    text-align: center;
    padding-right: 0;
  }

  .nav_contact {
    display: inline-block;
  }

  .header_img {
    margin-top: 20px;
  }

  .header_img img {
    width: 30%;
  }

  header .divider {
    width: 90%;
    margin: auto;
  }

  #resume object {
    display: none;
  }

  #resume_mobile {
    display: block;
  }

  .table-of-contents {
    display: none;
  }

  .ex_card {
    width: 100%;
  }

  .modal p {
    overflow-x: hidden;
  }

  .modal-content video {
    height: auto;
  }

  .contact_web {
    display: none;
  }

  .contact_mobile ul {
    display: inline-block;
    margin-left: 35%;
  }

  .contact_mobile ul li{
    display: inline-block;
    padding: 0 5px;
  }

  footer {
    padding: 20px 0 1px 0;
  }
}